.topbar {
    height: 4rem;
    width: 100vw;
    padding: 0.5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topbarItem {
    margin: 0 3rem;
    cursor: pointer;
}

.topbarItem:hover {
    padding-bottom: 0.5rem;
    border-bottom: 2px solid black;
}