@import url(props.css);

header {
    padding: 1rem 2rem;
}

main {
    margin-top: 1rem;
}

.head-titles {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1rem;
}

.head-titles a {
    text-decoration: none;
    font-family: var(--poppins);
    font-size: 0.8rem;
    color: var(--dark-gray);
    
}

.ytube-container {
    border: 1px solid var(--light-gray);
    border-radius: 0.5rem;
    width: 80%;
    margin: auto;
    padding: 2rem;
}

.ytube-container h2 {
    font-family: var(--IBM);
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--dark);
    text-align: center;
    margin: 1rem auto;
}

.ytube-container .form .search-box {
    border: 4px solid var(--dark);
    border-radius: 1rem;
    width: 70%;
    height: 3.5rem;
    margin: auto;
    display: flex;
    align-items: center;
}

.ytube-container .form .search-box input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 1rem;
    padding: 0.5rem;
    font-family: var(--IBM);
}

.ytube-container .form .search-box .btn-search {
    background-color: var(--dark);
    color: white;
    border-radius: 1rem;
    border: none;
    outline: none;
    height: 3.5rem;
    width: 8rem;
    cursor: pointer;
}

.ytube-container .form .error {
    text-align: center;
    color: red;
    font-family: var(--lato);
    font-size: 0.75rem;
}

.ytube-container .hero {
    padding: 1rem;
}

.ytube-container .hero p {
    text-align: center;
}

.ytube-container .hero h1 {
    text-align: center;
}

.ytube-container .hero img {
    width: 24rem;
    margin: auto;
}

#download-info.active {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    width: 100%;
}

#download-info {
    display: none;
}

#download-info .thumbail {
    display: flex;
    justify-content: center;
}

#download-info .left h2 {
    font-family: var(--poppins);
    font-size: 1rem;
    font-weight: 600;
    color: var(--dark-gray);
    width: 20rem;
}

#playlist-info header {
    max-width: 40rem;
    margin: auto;
}

#playlist-info header img {
    max-width: 80%;
    margin: auto;
}

#playlist-info nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#playlist-info nav > * {
    margin-left: 1rem;
}

#playlist-info nav .title {
    flex-grow: 2;
}

.resolution select {
    padding: 0.5rem;
    border: none;
    outline: none;
    border-bottom: 4px solid var(--gray);
    font-family: var(--poppins);
    font-weight: bold;
    color: var(--gray);
    margin-right: 1rem;
}

.playlist {
    height: 32rem;
    overflow: hidden;
    overflow-y: scroll;
}

.playlist li {
    display: flex;
    margin-top: 1rem;
    border-bottom: 1px solid var(--gray);
    border-top: 1px solid var(--gray);
    padding: 1rem;
}

.playlist li > * {
    margin: auto 1rem;
}

.playlist li .title {
    flex-grow: 2;
}

.title h3{
    font-family: var(--IBM);
    font-size: 1.2rem;
    font-weight: 400;
    flex-grow: 2;
}

.btn-download {
    padding: 0.5rem 1rem;
    font-family: var(--poppins);
    font-weight: 500;
    background-color: var(--green);
    color: white;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.btn-download:hover {
    background-color: #005D00;
}

.loading {
    padding: 2.5rem;
    margin: auto;
}


.table thead {
    background-color: var(--gray);
}

.table thead tr th {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    padding: 1rem 2rem;
    color: white;
}

td {
    color: var(--dark-gray);
    font-family: var(--lato);
    text-align: center;
    border: 1px solid var(--light-gray);
    padding: 0.5rem 1rem;
}

td button {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.5rem;
    color: white;
    font-family: var(--poppins);
    background-color: var(--green);
    border-radius: 0.5rem;
}

main #about {
    width: 80%;
    margin: 2rem auto;
}

main #about h2{
    text-align: center;
    font-family: var(--poppins);
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--dark);
}

main #about p {
    text-align: center;
    font-family: var(--lato);
    font-size: 1rem;
    color: var(--dark-gray);
}

main #features {
    width: 80%;
    display: flex;
    align-items: first baseline;
    justify-content: space-around;
    border-top: 1px solid var(--gray);
    border-bottom: 1px solid var(--gray);
    margin: 1rem auto;
    padding: 1rem;
}

main #features .instructions h3 {
    font-family: var(--poppins);
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--dark-gray);
}

main #features .instructions li {
    font-family: var(--lato);
    font-size: 1rem;
    color: var(--dark-gray);
    margin: 1rem auto;
}

main #features .features h3 {
    font-family: var(--poppins);
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--dark-gray);
}

main #features .features li {
    font-family: var(--lato);
    font-size: 1rem;
    color: var(--dark-gray);
    margin: 1rem auto;
}

main #perks {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 1rem auto;
}

main #perks .display {
    margin: 1rem auto;
}

main #perks .display .icon{
    text-align: center;
}

main #perks .display .icon img{
    height: 56px;   
}

main #perks .display h3 {
    font-family: var(--poppins);
    color: var(--dark);
    font-size: 1.2rem;
    text-align: center;
}

main #perks .display p {
    font-family: var(--lato);
    color: var(--dark-gray);
    font-size: 1rem;
    text-align: center;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.25);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
    z-index: 100;
}




footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-top: 1px solid var(--gray);
}

footer small {
    font-family: var(--helvetica);
    font-weight: 500;
    color: var(--dark-gray);
}

footer h6 {
    width: 10rem;
}

